body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1{
    margin-top: 8vh;
}

.info-game{
    display: flex;
    margin-left: 38vw;
}

#board{
    width: 30vw;
}

#pScore2{
    margin-left: 10vh;
}


